body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: red;
  }  
  main {
    padding: 20px;
  }
  
  .titulo {
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
  }
  
  .botao {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer img {
    width: 300px;
    height: 200px;
    
}
footer {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-right: 1%;
}